<section class="header">
	<h2>
		<mat-icon>settings</mat-icon>
		Administration
		<button mat-button type="button" [disabled]="isLoggingOut" (click)="logout()">
			Déconnexion
		</button>
	</h2>
	<div>
		<a mat-stroked-button routerLink="add-recipe" color="primary">
			<mat-icon>add</mat-icon>
			Ajouter une recette
		</a>
	</div>
</section>

<ng-container *ngIf="recipesPage$ | async as recipesPage">
	<ng-template [ngIf]="recipesPage.items.length > 0">
		<!-- Recipes list -->
		<app-infinite-scroll (scrolled)="loadMore(recipesPage)">
			<section class="recipes-list">
				<article class="card" *ngFor="let recipe of recipesPage.items">
					<div class="card-recipe-thumbnail">
						<header>
							<h2>{{ recipe.name }}</h2>
						</header>
						<content>
							<img [src]="recipe.mainPicture" [alt]="recipe.name">
							<div class="recipe-buttons-container">
								<button mat-fab class="recipe-button">
									<mat-icon>edit</mat-icon>
								</button>
								<button mat-fab class="recipe-button" (click)="openDialog(recipe.name)">
									<mat-icon>delete</mat-icon>
								</button>
							</div>
						</content>
					</div>
				</article>
			</section>
		</app-infinite-scroll>
		<div class="load-more-container">
			<!-- Load more button -->
			<ng-template [ngIf]="!recipesPage.hasReachedLimit">
				<button mat-raised-button type="button" color="primary" (click)="loadMore(recipesPage)"
					[class.mod-loading]="isLoadingMore" [disabled]="isLoadingMore">
					Charger plus
				</button>
			</ng-template>
		</div>
	</ng-template>

</ng-container>