@import "./../variables";
@import "~@angular/material/theming";

.chip {
	display: inline-block;
	background: #E13B2B;
	padding: 7px 12px;
	border-radius: 16px;
	font-weight: 500;
	font-size: 14px;
}
