@import "../colors";

h1 {
	display: block;
	border-bottom: 1px dashed $lighter;
	font-size: 2.25rem;
	font-weight: bold;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}

h3 {
	font-size: 1.2rem;
	color: $grey;
	font-weight: 700;
}
