<header>
	<mat-toolbar>
		<a routerLink="" class="website-title">
			<mat-icon>local_dining</mat-icon>
			<span>Curry Chronicles</span>
		</a>
	</mat-toolbar>
</header>

<main>
	<router-outlet></router-outlet>
</main>

<footer>
	<div class="container">
		<div class="block">
			<h4>À propos</h4>
			<span>
				Ceci est un site ayant simplement pour but de regrouper les recettes que l'on connait et qu'on aime
				faire. Si tu es venu ici en pensant trouver de la grande cuisine, dommage !
			</span>
		</div>
		<div class="block">
			<h4>À propos</h4>
			<span>

			</span>
		</div>
	</div>
	<div class="copyright">
		Fait avec ❤️ et <span (click)="generateRandomIngredient()">{{ randomIngredient }}</span>
	</div>
</footer>