@import "colors", "variables";

mat-toolbar {
	margin-bottom: 2rem;
	background: white;
	box-shadow: 0 6px 15px rgba(36, 37, 38, .08);

	@media screen and (min-width: $tablet-width-breakpoint) {
		padding-left: 20%;
	}
}

.website-title {
	span {
		font-family: $website-title-font-stack;
	}

	mat-icon {
		color: $primary-color;
		position: absolute;
		top: 1.20rem;
	}

	span {
		margin-left: 30px;
		font-size: 1.4rem;
	}
}

.content {
	display: block;
	max-width: 730px;

	@media screen and (min-width: $tablet-width-breakpoint) {
		margin: auto;
	}

	@media screen and (max-width: $tablet-width-breakpoint) {
		max-width: inherit;
		margin: 0 1rem;
	}
}
