<section class="header">
	<!-- Title -->
	<h1>
		<mat-icon>restaurant</mat-icon>
		Recettes
	</h1>
	<!-- Search input -->
	<mat-form-field>
		<mat-label>Rechercher</mat-label>
		<input type="text" matInput #searchInputElement [(ngModel)]="searchInput"
			placeholder="Rechercher une recette" />
		<button *ngIf="isSearchInputEmpty" disabled type="button" mat-icon-button matSuffix aria-label="search">
			<mat-icon>search</mat-icon>
		</button>
		<button *ngIf="!isSearchInputEmpty" (click)="onClearSearchInput()" type="button" mat-icon-button matSuffix
			aria-label="close" matTooltip="Effacer la recherche">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
</section>

<ng-container *ngIf="recipesPage$ | async as recipesPage; else loading">
	<ng-template [ngIf]="recipesPage.items.length > 0" [ngIfElse]="!!searchInput ? noRecipeFound : noRecipeAtAll">
		<!-- Recipes list -->
		<app-infinite-scroll (scrolled)="loadMore(recipesPage)">
			<section class="recipes-list">
				<article class="card" *ngFor="let recipe of recipesPage.items" [routerLink]="recipe.id">
					<app-recipe-thumbnail [recipe]="recipe"></app-recipe-thumbnail>
				</article>
			</section>
		</app-infinite-scroll>
		<div class="load-more-container">
			<!-- Load more button -->
			<ng-template [ngIf]="!recipesPage.hasReachedLimit" [ngIfElse]="allRecipesLoaded">
				<button mat-raised-button type="button" color="primary" (click)="loadMore(recipesPage)"
					[class.mod-loading]="isLoadingMore" [disabled]="isLoadingMore">
					Charger plus
				</button>
			</ng-template>
			<!-- End of paging -->
			<ng-template #allRecipesLoaded>
				C'est tout, gros daleux !
			</ng-template>
		</div>
	</ng-template>

	<!-- No recipe found -->
	<ng-template #noRecipeFound>
		<div class="empty-recipes">
			<h3>Aucune recette</h3>
			<p>Essayez de modifier votre recherche</p>
		</div>
	</ng-template>
	<!-- No recipe at all -->
	<ng-template #noRecipeAtAll>
		<div class="empty-recipes">
			<h3>Aucune recette</h3>
			<p>Ah bah c'est bien OVH, super pour le site de cuisine. Génial ! Je te remercie !</p>
			<p>Il est foutu, c'est pas grave hein ?</p>
		</div>
	</ng-template>
</ng-container>

<!-- Recipes loading -->
<ng-template #loading>
	<section class="recipes-loader">
		<mat-spinner></mat-spinner>
		<span>Cuisson en cours...</span>
	</section>
</ng-template>