@import "variables", "colors";

.header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dashed $lighter;
	padding-bottom: 1rem;
	margin-bottom: 2rem;

	h1 {
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	mat-form-field {
		margin-right: 0.5rem;
	}
}

.recipes-list {

	// When screen big enough, display overviews in a grid
	@media screen and (min-width: $mobile-width-breakpoint) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.card {
	cursor: pointer;
	box-shadow: 0 0px 15px rgba(36, 37, 38, .15);
	margin-bottom: 1rem;

	flex: 0 1 calc(33% - 1rem);

	@media screen and (max-width: $tablet-width-breakpoint) {
		flex: 0 0 calc(49%);
	}

	>header {
		background-color: $primary-color;
		color: white;
		padding: 0.5rem;

		h2 {
			margin: 0;
			padding: 0;
			font-weight: 400;
			font-size: 1rem;
		}
	}

	>content {
		display: block;
		overflow: hidden;

		img {
			display: block;
			border: 0;
			width: 100%;
			height: auto;
			transition: transform 0.25s ease, filter 0.25s ease;
		}
	}

	>footer {
		background-color: white;
		padding: 0.5rem;
		color: $grey;
		font-size: 1rem;
		text-align: center;
	}

	&:hover {
		img {
			filter: contrast(1.15);
			transform: scale(1.333);
		}
	}
}

.recipes-loader {
	width: 100%;
	text-align: center;

	mat-spinner {
		margin: auto;
		margin-top: 20vh;
		margin-bottom: 3rem;
	}

	>span {
		color: $grey;
	}
}
