<section class="header">
	<h1>
		<mat-icon>restaurant</mat-icon>
		Liste des recettes
	</h1>
	<mat-form-field>
		<mat-label>Rechercher</mat-label>
		<input type="text" matInput #searchInputElement [(ngModel)]="searchInput"
			placeholder="Rechercher une recette" />
		<button *ngIf="isSearchInputEmpty" disabled type="button" mat-icon-button matSuffix>
			<mat-icon>search</mat-icon>
		</button>
		<button *ngIf="!isSearchInputEmpty" (click)="onClearSearchInput()" type="button" mat-icon-button matSuffix>
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
</section>

<section class="recipes-list" *ngIf="overviews$ | async as overviews; else loading">
	<ng-template [ngIf]="overviews.length > 0" [ngIfElse]="noOverview">
		<article class="card" *ngFor="let overview of overviews" [routerLink]="overview.id">
			<header>
				<h2>
					{{ overview.name }}
				</h2>
			</header>
			<content>
				<img [src]="overview.mainPicture">
			</content>
			<footer>
				{{ overview.headLine }}
			</footer>
		</article>
	</ng-template>
	<ng-template #noOverview>
		<!-- TODO: style -->
		<div class="empty-overviews">
			<h3>Aucune recette</h3>
			Essayez de modifier votre recherche
		</div>
	</ng-template>
</section>

<ng-template #loading>
	<section class="recipes-loader">
		<mat-spinner></mat-spinner>
		<span>Cuisson en cours...</span>
	</section>
</ng-template>