<section class="header">
	<h1>
		<mat-icon>restaurant</mat-icon>
		Recettes
	</h1>
	<mat-form-field>
		<mat-label>Rechercher</mat-label>
		<input type="text" matInput #searchInputElement [(ngModel)]="searchInput"
			placeholder="Rechercher une recette" />
		<button *ngIf="isSearchInputEmpty" disabled type="button" mat-icon-button matSuffix>
			<mat-icon>search</mat-icon>
		</button>
		<button *ngIf="!isSearchInputEmpty" (click)="onClearSearchInput()" type="button" mat-icon-button matSuffix>
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
</section>

<ng-container *ngIf="recipesPage$ | async as recipesPage; else loading">

	<ng-template [ngIf]="recipesPage.items.length > 0" [ngIfElse]="norecipe">
		<section class="recipes-list">
			<article class="card" *ngFor="let recipe of recipesPage.items" [routerLink]="recipe.id">
				<header>
					<h2>{{ recipe.name }}</h2>
				</header>
				<content>
					<img [src]="recipe.mainPicture">
				</content>
				<footer>
					{{ recipe.headLine }}
				</footer>
			</article>
		</section>
		<div class="load-more-container">
			<ng-template [ngIf]="!recipesPage.hasReachedLimit" [ngIfElse]="allRecipesLoaded">
				<button mat-raised-button type="button" color="primary" (click)="loadMore(recipesPage)"
					[class.mod-loading]="isLoadingMore" [disabled]="isLoadingMore">
					Charger plus
				</button>
			</ng-template>
			<ng-template #allRecipesLoaded>
				C'est tout gros daleux !
			</ng-template>
		</div>
	</ng-template>

	<!-- Nothing -->
	<ng-template #norecipe>
		<div class="empty-recipes">
			<h3>Aucune recette</h3>
			Essayez de modifier votre recherche
		</div>
	</ng-template>
</ng-container>

<ng-template #loading>
	<section class="recipes-loader">
		<mat-spinner></mat-spinner>
		<span>Cuisson en cours...</span>
	</section>
</ng-template>