.submit-bar {
	text-align: right;
	margin-top: 1.5rem;
}

.callout.mod-error {
	margin-top: 1rem;
}

.code-block {
	margin-top: 1rem;

	.success {
		color: #5cb85c;
	}

	pre {
		font-family: 'Consolas', 'Courier New', monospace;
		font-size: 0.9rem;
		color: rgb(30, 30, 30);
	}
}
