<h1>{{ recipe ? 'Edition' : 'Ajout' }} d'une recette</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
	<formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>

	<div *ngIf="showValidationMessages" class="callout mod-error">
		<button mat-icon-button type="button" (click)="showValidationMessages = false" matTooltip="Fermer"
			aria-label="Fermer" class="callout-kill">
			<mat-icon>close</mat-icon>
		</button>

		<ul>
			<li *ngFor="let field of fields">
				<formly-validation-message [field]="field"></formly-validation-message>
			</li>
		</ul>
	</div>

	<div class="submit-bar">
		<button mat-raised-button type="submit" color="primary" [class.mod-loading]="isSaving">Enregistrer</button>
	</div>
</form>

<div class="callout mod-error" *ngIf="error != null">
	{{ error }}
</div>

<!-- Json recipe -->
<mat-expansion-panel class="code-block">
	<mat-expansion-panel-header>
		<mat-panel-title>Json</mat-panel-title>
	</mat-expansion-panel-header>
	<button mat-icon-button type="button" [disabled]="showCopySuccessMessage" (click)="copyToClipboard()"
		[class.success]="showCopySuccessMessage">
		<mat-icon>file_copy</mat-icon>
		{{ showCopySuccessMessage ? 'Copié !' : 'Copier' }}
	</button>
	<pre>{{ model | json }}</pre>
	<textarea hidden #jsonRecipeTextArea>{{ model | json }}</textarea>
</mat-expansion-panel>