<mat-card *ngIf="recipe$ | async as recipe">

	<div>{{ recipe.publicationDate }}</div>
	<mat-card-title>{{ recipe.name }}</mat-card-title>
	<mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
	<div>{{ recipe.servesHowManyPeople }} | {{ recipe.preparationTime }} | {{ recipe.cookingTime }}</div>
	<img [src]="recipe.mainPicture">

	<mat-card-content class="layout">
		<app-ingredients-list [ingredients]="recipe.ingredients"></app-ingredients-list>
		<app-directions-list [directions]="recipe.directions"></app-directions-list>
	</mat-card-content>
</mat-card>