@import "colors", "variables";

:host {
	display: block;
	max-width: 730px;
	margin: auto;
}

@media screen and (max-width: $tablet-width-breakpoint) {
	:host {
		max-width: inherit;
	}
}

.layout {
	@media screen and (min-width: $tablet-width-breakpoint) {
		display: flex;
		flex: 0 1 50%;
	}
}

h1,
h4 {
	text-align: center;
}

h4 {
	color: $lighter;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.description {
	display: inline-block;
	margin: 1.5rem 0;

	font-weight: 400;
	font-size: 1rem;
	color: $grey;
}

app-ingredients-list {
	padding-right: .5rem;
}

app-directions-list {
	padding-left: .5rem;
}

.directions {
	.direction {
		.chip {
			margin-right: 0.333rem;
		}
	}
}
