.layout {
	display: flex;
	flex: 0 1 50%;
}

app-ingredients-list,
app-directions-list {
	flex: 0 1 50%;
}

app-ingredients-list {
	padding-right: .5rem;
}

app-directions-list {
	padding-left: .5rem;
}

.directions {
	.direction {
		.chip {
			margin-right: 0.333rem;
		}
	}
}
