mat-form-field {
	textarea {
		width: 100%;
	}
}

mat-list-item {
	margin-bottom: 1rem;

	*[cdkDragHandle] {
		cursor: move;
		padding: 0 .5rem;
	}
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-list.cdk-drop-list-dragging mat-list-item:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
