<input type="number" class="mat-input-element" [disabled]="isDisabled" (focus)="onTouched()" min="0" max="23"
	[(ngModel)]="value.hours" (ngModelChange)="onValueChanged()" placeholder="Heures" />

<input type="number" class="mat-input-element" [disabled]="isDisabled" (focus)="onTouched()" min="0" max="59"
	[(ngModel)]="value.minutes" (ngModelChange)="onValueChanged()" placeholder="minutes" />

<input type="number" class="mat-input-element" [disabled]="isDisabled" (focus)="onTouched()" min="0" max="59"
	[(ngModel)]="value.seconds" (ngModelChange)="onValueChanged()" placeholder="secondes" />