/* You can add global styles to this file, and also import other style files */

@import "components/components";
@import "theme";

@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

* {
	font-family: "Varela Round", sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
