$primary-color: #e13b2b;
$primary-color-light: lighten($primary-color, 15%);

$error: (
	background: #f44336,
	foreground: #ffffff,
);

$success: (
	background: #4bb543,
	foreground: #ffffff,
);

$grey: #666666;
$light: #999999;
$lighter: #dedede;
$lightest: #f9f9f9;
