<section class="header">
	<h2>
		<mat-icon>settings</mat-icon>
		Administration
		<button mat-button type="button" [disabled]="isLoggingOut" (click)="logout()">
			Déconnexion
		</button>
	</h2>
	<div>
		<a mat-stroked-button routerLink="add-recipe" color="primary">
			<mat-icon>add</mat-icon>
			Ajouter une recette
		</a>
	</div>
</section>

<!-- Recipes list -->
<app-infinite-scroll (scrolled)="loadMore(recipesPage)">
	<section class="recipes-list">
		<article class="card" *ngFor="let recipe of recipesPage.items">
			<div class="card-recipe-thumbnail">
				<header>
					<h2>{{ recipe.name }}</h2>
				</header>
				<content>
					<img [src]="recipe.mainPicture" [alt]="recipe.name">
					<div class="recipe-actions">
						<button mat-fab [routerLink]="['edit', recipe.id]" matTooltip="Editer"
							matTooltipPosition="above">
							<mat-icon>edit</mat-icon>
						</button>
						<button mat-fab (click)="openDialog(recipe)" matTooltip="Supprimer" matTooltipPosition="above">
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</content>
			</div>
		</article>
	</section>
</app-infinite-scroll>
<div class="load-more-container" *ngIf="!recipesPage.hasReachedLimit">
	<!-- Load more button -->
	<button mat-raised-button type="button" color="primary" (click)="loadMore(recipesPage)"
		[class.mod-loading]="isLoadingMore" [disabled]="isLoadingMore">
		Charger plus
	</button>
</div>